%div.modal-header
  %h3== All Checks
-#%div.modal-body
-#  %table.table.table-striped.table-bordered
-#    %tbody
-#      - client_history.each do |e|
-#
-#        - e.attributes.each do |k,v|
-#          %tr
-#            %td= k
-#            %td= v
%table.table-striped.dataTable.clients_table.table{:id => "clients_history_table"}
  %thead
    %th Check Name
    %th History
    %th Time Ago
    %th Last status


  %tbody
    - count = 0
    - client_history.each do |c|
      - history = ''

      - c.history.each do |e|
        - history += e.to_s + ','

      - history = history.chomp(',')

      %tr{:id => "client_row_#{c.check}_history", :rel => c.check}
        %td
          %strong= c.check
        %td
          %span{:class=>"bar"}= history
        %td= time_ago_in_words(Time.at(c.last_execution))
        %td= c.last_status
        - count += 1

        %style
          \#client_row_#{c.check}_history {
          -if c.last_status == 0
            background: rgb(130, 185, 130);
          -elsif c.last_status == 1
            background: rgb(204, 167, 111);
          -elsif c.last_status ==2
            background: rgb(180, 93, 86);
          -else
            background:grey;
          }